<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="4f89c31b-8332-4ed9-82ee-59d22df8d501" Publisher="CN=Lenovo" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="4f89c31b-8332-4ed9-82ee-59d22df8d501" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>FoldersFilesApp</DisplayName>
    <PublisherDisplayName>Lenovo</PublisherDisplayName>
    <Logo>Assets\AppIcons\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="FoldersFilesApp.App">
      <uap:VisualElements DisplayName="FoldersFilesApp" Square150x150Logo="Assets\AppIcons\Square150x150Logo.png" Square44x44Logo="Assets\AppIcons\Square44x44Logo.png" Description="This is just an application for training on using Windows.Storage APIs" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\AppIcons\Wide310x150Logo.png" Square310x310Logo="Assets\AppIcons\LargeTile.png" Square71x71Logo="Assets\AppIcons\SmallTile.png" ShortName="FolderFIlesApp">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\AppIcons\SplashScreen.png"  BackgroundColor="transparent"/>
        <uap:LockScreen BadgeLogo="Assets\AppIcons\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <uap:Capability Name="picturesLibrary" />
    <uap:Capability Name="documentsLibrary" />
  </Capabilities>
</Package>